{% assign default_avatar_url = 'images/avatar-01.jpg' |  asset_url %}
<div class="[&:nth-child(-n+4)]:-order-1 bg-gradient-to-tr dark:from-slate-800/20 dark:via-slate-800/50 dark:to-slate-800/20  from-blue-100 via-blue-200 to-blue-100
">
    <div class="relative p-5">
        <div class="items-center space-y-3 sm:flex sm:space-y-0 sm:space-x-5">
            <div class="flex space-x-2 text-center">
                <div class="flex flex-col p-2 text-xs">
                    <div>{{ post | feedback_type_count: site.settings.feedback_useful_type }}</div>
                    <div>投票</div>
                </div>
                <div class="flex flex-col p-2 text-xs border border-primary text-primary">
                    <div>{{ post.comments | roots | size }}</div>
                    <div>回答</div>
                </div>
                <div class="flex flex-col p-2 text-xs">
                    <div>{{ post.visits_count }}</div>
                    <div>阅读</div>
                </div>
            </div>

            <div class="w-4/5">
                <div class="mb-2">
                    <h2>
                        <a class="font-semibold transition duration-150 ease-in-out hover:text-slate-600 dark:hover:text-white" href="{{ post.full_slug  }}" data-turbo="false"> {{ post.link_text }} </a>
                    </h2>
                </div>
                <div class="flex items-center justify-between min-w-full">
                    <div class="flex items-center ">
                        <img class="mr-2 rounded-full" src="{{ post.author.avatar_url | default: default_avatar_url }}" width="16" height="16" alt="User 01" />
                        <div class="text-xs text-slate-600">
                            <a class="font-medium text-indigo-500 transition duration-150 ease-in-out hover:text-indigo-400" href="#0">{{ post.author.name }}</a> · <span class="text-slate-500">{{ post.created_at | date: "%Y-%m-%d" }}</span>
                        </div>
                    </div>

                    <div class="shrink-0 flex space-x-2 -ml-0.5 text-xs ">
                        {% assign answers = post.comments | roots | order_by: '-created_at' | limit: 1 %}
                        {% for answer in answers %}
                            <span class="text-primary"> {{ answer.author.name }} </span> ·
                            <span>{{ answer.created_at | time_ago }}前回答</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
