<li class="pt-4">
  <div class="mb-1" x-data="{open: false}">
    <div class="flex items-center mb-1">
      <img class="mr-2 rounded-full" src="{{  reply.author.avatar_url }}" width="20" height="20"
        alt="User 15" />
      <div class="text-xs text-slate-600">
        <a class="font-medium text-indigo-500 transition duration-150 ease-in-out hover:text-indigo-400"
          href="#0">{{ reply.author.name }}</a> · <span class="text-slate-500">{{ reply.published_at | date: "%Y-%m-%d" }}</span>
      </div>
    </div>
    <div class="mb-1 space-y-4 text-sm text-slate-400">
      <article class="prose ProseMirror sm:prose-base lg:prose-lg focus:outline-none dark:prose-invert text-slate-400">
        {{ reply.settings.content }}
      </article>
    </div>
    <div class="text-xs text-slate-600">
      <div class="text-xs cursor-pointer text-slate-600" @click="open = !open">回复</div>
    </div>

    {% render 'reply_answer_form', parent_page: reply, reply: reply %}

    {% assign replies = reply.children_in_list %}
    <ul class="pl-4 border-l-2 border-slate-700" id="answer_{{ reply.id }}_replies_list">
        {% for reply in replies %}
          {% render 'reply', reply: reply %}
        {% endfor %}
    </ul>
  </div>
</li>





